# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file (if exists)
.env

# Ignore build and temp files
dist/
build/

# Ignore OS and IDE specific files
.DS_Store         # macOS
Thumbs.db         # Windows
.vscode/          # Visual Studio Code

# Ignore all HTML files outside the public folder
*.html

# Don't ignore HTML files inside the public folder
!public/*.html

# Don't ignore images, CSS, and JS files inside the public folder
!public/**/*.{png,jpg,jpeg,gif,svg,webp,css,js}

# Ignore any other files that are inside the public folder that you don't want to include
# Example: If you want to ignore .txt files
# public/*.txt
